*{
  background-color: black;
}
.wrapper {
  font-size: 20px;
  color: #ffffff;
  padding: 15px;
  width: 40%;
  position: absolute;
  margin-left: 480px;
  
}
button{
  color: #ffffff;
  font-size: 20px;
  display: block;
  height: 50px;
  width: 260px;
  background-color: red;
  margin: 0 auto;
}
dropdownbutton {
  font-size: 50px;
  position: absolute;
  left: 710px ;
  top : 116px;
  background: rgba(107, 107, 107, 0);
}
.down{
  top: 189px;
  background: rgba(107, 107, 107, 0);
}
.btn{
  top: 260px;
  background: rgba(107, 107, 107, 0);
}
.new{
  top: 334px;
  background: rgba(107, 107, 107, 0);
}
.nw-btn{
  top: 405px;
  background: rgba(107, 107, 107, 0);
}
.new-btn{
  top: 475px;
  background: rgba(107, 107, 107, 0);
}

.FAQ{
  text-align: center;
}
.what{
border-style: solid;
border-color: black;
padding-left: 30px;
margin-bottom: 3px;
background: rgba(107, 107, 107, 0.616);
}
.how{
  border-style: solid;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 3px;
  background: rgba(107, 107, 107, 0.616);
}
.where{
  border-style: solid;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 3px;
  background: rgba(107, 107, 107, 0.616);
}
.cancel{
  border-style: solid;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 3px;
  background: rgba(107, 107, 107, 0.616);
}
.watch{
  border-style: solid;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 3px;
  background: rgba(107, 107, 107, 0.616);
}
.trial{
  border-style: solid;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 15px;
  background: rgba(107, 107, 107, 0.616);
}
p{
  background: rgba(107, 107, 107, 0);
}
